version: 2.1

# Common definition of the build container.
# Helps keep job configs (below) a bit more concise.
# circleci/python:* containers are debian based
py37_container: &py37_container
    docker:
        - image: python:3.7-slim
    resource_class: small
    working_directory: ~/project
py38_container: &py38_container
    docker:
        - image: python:3.8-slim
    resource_class: small
    working_directory: ~/project
py39_container: &py39_container
    docker:
        - image: python:3.9-slim
    resource_class: small
    working_directory: ~/project
py310_container: &py310_container
    docker:
        - image: python:3.10-slim
    resource_class: small
    working_directory: ~/project
py311_container: &py311_container
    docker:
        - image: python:3.11-slim
    resource_class: small
    working_directory: ~/project

filter_build_test_package: &filter_build_test_package
    filters:
        tags:
            ignore: /release-.*/
        branches:
            ignore: /release-.*/

# Use this ONLY for release builds.
filter_release: &filter_release
    filters:
        tags:
            ignore: /.*/
        branches:
            only: /release-.*/

commands:
    build_test_package:
        description: "Build, test, and package GeoMet"
        parameters:
            py_ver:
                type: string
        steps:
            - attach_workspace:
                at: ~/project
            - run:
                name: Build, test, and package Python << parameters.py_ver >>
                command: |
                    pip install virtualenv
                    python -m virtualenv geomet_ci
                    . geomet_ci/bin/activate
                    ./build-scripts/00-install-dependencies.sh
                    ./build-scripts/01-build.sh
                    ./build-scripts/02-test.sh py<< parameters.py_ver >>
                    ./build-scripts/03-package.sh

jobs:
    code_checkout:
        <<: *py37_container
        steps:
            - checkout
            - attach_workspace:
                at: ~/project
            - persist_to_workspace:
                root: .
                paths:
                    # Persist everything that we checked out
                    - "."
    build_test_package_py37:
        <<: *py37_container
        steps:
            - attach_workspace:
                at: ~/project
            - build_test_package:
                py_ver: "37"
            # NOTE: py37 build persists the working directory,
            # because we use py37 to publish the package
            - persist_to_workspace:
                root: .
                paths:
                    # Persist the entire workspace, including the
                    # checked-out repo and the venv we just created.
                    - "."
    build_test_package_py38:
        <<: *py38_container
        steps:
            - build_test_package:
                py_ver: "38"
    build_test_package_py39:
        <<: *py39_container
        steps:
            - build_test_package:
                py_ver: "39"
    build_test_package_py310:
        <<: *py310_container
        steps:
            - build_test_package:
                py_ver: "310"
    build_test_package_py311:
        <<: *py311_container
        steps:
            - build_test_package:
                py_ver: "311"
    publish_to_test_pypi:
        <<: *py37_container
        steps:
            - attach_workspace:
                at: ~/project
            - run:
                name: Try publishing the distribution package to the PyPI test server
                command: |
                    . geomet_ci/bin/activate
                    ./build-scripts/04-push-test-pypi.sh
    publish:
        <<: *py37_container
        steps:
            - attach_workspace:
                at: ~/project
            - run:
                name: Publish distribution package to PyPI
                command: |
                    . geomet_ci/bin/activate
                    ./build-scripts/05-push.sh

workflows:
    version: 2.1
    build_test_package:
        jobs:
            - code_checkout:
                <<: *filter_build_test_package
            - build_test_package_py37:
                <<: *filter_build_test_package
                requires: [code_checkout]
            - build_test_package_py38:
                <<: *filter_build_test_package
                requires: [code_checkout]
            - build_test_package_py39:
                <<: *filter_build_test_package
                requires: [code_checkout]
            - build_test_package_py310:
                <<: *filter_build_test_package
                requires: [code_checkout]
            - build_test_package_py311:
                <<: *filter_build_test_package
                requires: [code_checkout]
    release:
        jobs:
            - code_checkout:
                <<: *filter_release
            - build_test_package_py37:
                <<: *filter_release
                requires: [code_checkout]
            - build_test_package_py38:
                <<: *filter_release
                requires: [code_checkout]
            - build_test_package_py39:
                <<: *filter_release
                requires: [code_checkout]
            - build_test_package_py310:
                <<: *filter_release
                requires: [code_checkout]
            - build_test_package_py311:
                <<: *filter_release
                requires: [code_checkout]
            - publish_to_test_pypi:
                <<: *filter_release
                context: "Test PyPI"
                requires:
                    - build_test_package_py37
                    - build_test_package_py38
                    - build_test_package_py39
                    - build_test_package_py310
                    - build_test_package_py311
            - approve_publish:
                <<: *filter_release
                type: approval
                requires: [publish_to_test_pypi]
            - publish:
                context: "Prod PyPI"
                <<: *filter_release
                requires: [approve_publish]
